.single-project-collaborative {
    &.single-page {
        padding-bottom: 0;
    }
    .hero-blocks {
        margin-bottom: 0;
        border-bottom: 0.1rem solid #dbdee7;
    }
    .resources-list {
        @include ulReset;
        li {
            margin-bottom: 3rem;
            .readmore {
                &:hover {
                    transform: translateX(1rem);
                }
            }
        }
    }
    .table-people {
        .table {
            min-width: 60rem;
            .readmore {
                &:hover {
                    transform: translateX(0.5rem);
                    -webkit-transform: translateX(0.5rem);
                }
            }
            thead {
                th {
                    padding: 1.2rem 0;
                    font-size: 1.6rem;
                    color: $color-2;
                    font-weight: 700;
                    border-bottom: none;
                    border-top: none;
                    @include media(1440px) {
                        padding: 1.5rem 0;
                        font-size: 1.8rem;
                    }
                }
            }
            tbody {
                td {
                    padding: 1.2rem 0;
                    font-size: 1.6rem;
                    @include media(1440px) {
                        padding: 1.5rem 0;
                        font-size: 1.8rem;
                    }
                    &:last-child {
                        width: 10rem;
                    }
                }
            }
        }
    }
}

.side-item {
    margin-bottom: 3rem;
    .readmore {
        transform: none;
        padding-left: 0;
        text-decoration: none;
        &:after {
            display: none;
        }
        &:before {
            width: 100%;
        }
        &:hover {
            transform: none;
        }
    }
    .row {
        align-items: center;
        &.list-item {
            margin-bottom: 2rem;
        }
        .col-auto {
            order: 1;
            flex: 1;
            //padding-left: 0;
            h4 {
                font-size: 1.8rem;
                color: #000;
                margin-bottom: 1rem;
                +p {
                    margin-bottom: 1rem;
                }
            }
        }
        .col-thumbnail {
            flex: 0 0 10rem;
            padding-right: 0;
            img {
                width: 8.5rem;
                height: 8.5rem;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
    .relationship {
        margin-bottom: 3rem;
    }
}