$container-width: 140rem;
$container-width-lg: 117rem;
$container-lateral-padding: 2rem;
$container-lateral-padding-wide: 4.5rem;
$container-small: 97rem;
$container-large: 160rem;
$container-large-2: 148rem;
$container-large-3: 124rem;
$container-large-4: 120rem;
$main-font:'Montserrat',
sans-serif;
$body-text: #000000;
$color-1: #ee3897;
$color-2:#4e757c;
$color-3: #e5aa6f;
$color-4: #b9cad3;
$color-5: #5b5b5b;
$color-6: #807f80;
$color-7: #e966a8;
$b-radius: 6px;
$path-to-img: "images/";