$container-width: 140rem;
$container-width-lg: 117rem;
$container-width-small: 73rem;
$container-lateral-padding: 2rem;
$container-lateral-padding-wide: 4.5rem;
$container-small: 97rem;
$container-large: 160rem;
$container-large-2: 148rem;
$container-large-3: 124rem;
$container-large-4: 120rem;
$main-font:'Montserrat',
sans-serif;
$sub-font: 'Oswald';
$body-text: #000000;
$color-1: #ec008c;
$color-2:#4e757c;
$color-3: #e5aa6f;
$color-4: #b9cad3;
$color-5: #4b4b4b;
$color-6: #807f80;
$color-8: #777777;
$light-grey: #EAEAEA;
$b-radius: 6px;
$path-to-img: "images/";
@font-face {
    font-family: $sub-font;
    src: url('fonts/Oswald-Bold.ttf');
    font-weight: 900;
}