.post-list {
    margin-bottom: 5rem;
    li {
        margin-bottom: 3rem;
        @include media(1200px) {
            margin-bottom: 3rem;
        }
        article {
            height: 100%;
        }
    }
    .article-item {
        display: block;
        position: relative;
        height: 100%;
        border-radius: 25px;
        @include transition;
        a {
            text-decoration: none;
        }
        .link-absolute {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        .card-inner {
            display: flex;
            display: -webkit-flex;
            //flex-wrap: wrap;
            align-content: flex-start;
            flex-direction: column;
            height: 100%;
            border-radius: 25px;
            @include boxShadow;
        }
        &:hover,
        &:focus {
            @include boxShadowHover;
            .card-image {
                img {
                    @include scale;
                }
            }
            h3 {
                color: $color-1;
            }
            .readmore {
                transform: translateX(-1rem);
                -webkit-transform: translateX(-1rem);
            }
        }
        h3 {
            line-height: 3rem;
            font-size: 1.8rem;
        }
        .cate-top {
            .cate-item {
                color: $color-1;
                letter-spacing: 1.27px;
                font-size: 1.4rem;
                font-weight: 700;
            }
        }
    }
    a:hover,
    a:focus {
        .readmore {
            transform: translateX(-1rem);
        }
    }
    .card-image {
        height: 20rem;
        order: 0;
        overflow: hidden;
        position: relative;
        border-radius: 25px 25px 0 0;
        @include media(768px) {
            height: 24rem;
        }
        @include media(1200px) {
            height: 20rem;
        }
        @include media(1400px) {
            height: 26rem;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 25px 25px 0 0;
            @include transitionImg;
        }
    }
    h3 {
        @include transition;
        @include three-dots;
    }
    .description {
        margin-bottom: 3rem;
        @include four-dots;
        max-height: 10rem;
        font-weight: 300;
        @include media(768px) {
            max-height: 11rem;
        }
        a {
            color: $color-2;
            &:focus {
                outline: none;
            }
        }
    }
    .entry-header {
        display: flex;
        display: -webkit-flex;
        flex-direction: column-reverse;
    }
    &.events {
        .infor-top {
            display: flex;
            display: -webkit-flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;
            .tag-topics {
                font-size: 1.3rem;
                line-height: 14px;
                color: $color-2;
                background: #E7EBF3;
                border-radius: 3px;
                padding: 0.5rem 1rem;
                text-transform: uppercase;
                font-weight: 600;
                margin-bottom: 0;
                @include media(768px) {
                    padding: 0.5rem 1.5rem;
                }
            }
            .event-date {
                width: 15rem;
                margin-left: 1rem;
                text-align: right;
                time {
                    font-size: 14px;
                    color: #999999;
                    letter-spacing: 0.88px;
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.dark-blue,
.light-blue {
    .post-list {
        .article-item {
            background: #fff;
            border-radius: 25px;
            color: $color-2;
        }
        .description {
            color: $body-text;
        }
        h3 {
            color: $color-2;
        }
        .readmore {
            color: $color-1;
        }
        .infor-container {
            padding: 2rem;
        }
    }
}

.white {
    .post-list {
        .infor-container {
            padding: 2rem;
        }
    }
}

.post-list-container {
    &.post-list {
        .infor-container {
            padding: 2rem;
        }
        ul {
            li {
                margin-bottom: 3rem;
            }
        }
    }
}

.page-filter {
    .post-list-container {
        &.post-list {
            .card-image {
                border-radius: 10px 10px 0 0;
            }
        }
        .article-item {
            border-radius: 10px;
        }
    }
}