.page-id-38 .footer-container .site-footer {
    display: none;
}

.footer-container {
    .site-footer {
        font-size: 1.4rem;
        line-height: 2rem;
    }
    .footer-menu {
        margin-bottom: 3rem;
    }
    ul {
        @include ulReset;
    }
    .footer-description {
        a {
            font-size: 1.5rem;
            color: #fff;
            font-weight: 500;
            @include transition;
            &:hover,
            &:focus {
                color: $color-1;
                text-decoration: none;
            }
        }
    }
    .footer-block {
        padding: 3rem 0 6rem;
        @include media(992px) {
            padding: 3rem 0;
        }
        position: relative;
        background: $color-5;
        .menu-footer {
            margin: 2rem 0;
            @include media(768px) {
                margin: 0;
            }
            ul {
                li {
                    margin-bottom: 0.3rem;
                    a {
                        color: #fff;
                        font-size: 1.4rem;
                        line-height: 2rem;
                        text-decoration: none;
                        @include transition;
                        &:hover,
                        &:focus {
                            text-decoration: none;
                            color: $color-1;
                        }
                    }
                }
            }
        }
    }
    .partners {
        ul {
            justify-content: flex-start;
            align-items: center;
            @include media(768px) {
                justify-content: flex-end;
            }
            li {
                margin-right: 2rem;
                &:last-child {
                    margin-right: 0;
                }
                img {
                    max-width: 8rem;
                    width: 100%;
                    height: auto;
                    @include media(992px) {
                        max-width: 12rem;
                    }
                }
            }
        }
    }
}