#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers {
    padding: 0;
    background: transparent;
    float: none;
    border-radius: 0;
    display: flex;
    display: -webkit-flex;
    margin-bottom: 0;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_before_listing {
    display: none;
    width: 0;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header {
    float: none;
    order: 1;
    background: $color-5;
    width: 20%;
    height: 4.1rem;
}

#post-38 .wpgmp_map_container {
    margin-left: -1px;
    margin-right: -1px;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form {
    float: none;
    margin-top: 0;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form input {
    background: $color-5;
    border-bottom: none;
    color: #fff;
    border: none;
    padding: 0 5rem 0 2rem;
    height: 4.1rem;
    font-size: 1.8rem;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form:after {
    display: none;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #fff;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #fff;
    opacity: 1;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #fff;
    opacity: 1;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #fff;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .categories_filter {
    background: #ec008c;
    float: none;
    width: 50%;
    height: 4.1rem;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .regions_filter {
    background: $color-5;
    width: 30%;
    height: 4.1rem;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .categories_filter select {
    float: none;
    background: url(images/chevron-down-solid.svg) rgba(255, 255, 255, 0.4);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: right 15px center;
    max-width: 33rem;
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    height: 4.1rem;
    padding: 0 2rem;
    border-radius: 0;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .categories_filter {
    position: relative;
    padding: 0 3rem 0 14rem;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .categories_filter:before {
    content: "Category";
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    position: absolute;
    left: 3rem;
    top: 0.6rem;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .categories_filter select option,
#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .regions_filter select option {
    color: $black;
    font-weight: 400;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .regions_filter {
    position: relative;
    padding: 0 0 0 11rem;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .regions_filter:before {
    content: "Region";
    color: #fff;
    font-size: 1.8rem;
    font-weight: 70;
    position: absolute;
    left: 2rem;
    top: 0.6rem;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .regions_filter select {
    height: 4.1rem;
    background: url(images/chevron-down-solid.svg) rgba(255, 255, 255, 0.4);
    background-position: right center;
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 1.5rem;
    border: none;
    color: #fff;
    width: 100%;
    padding: 0 2rem;
    font-weight: 400;
    font-size: 1.8rem;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
}

#post-38 figure.wp-block-table {
    overflow-x: hidden;
}

@media (min-width:1200px) {
    #post-38 .wpgmp-map-2 .full-map {
        padding-left: 0;
    }
}

@media (min-width:1920px) {
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .categories_filter,
    #post-38 .wpgmp-map-2 .listing-map {
        max-width: 72rem;
        flex: 0 0 72rem;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .regions_filter {
        max-width: 55rem;
        flex: 0 0 55rem;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header {
        width: 100%;
    }
    #post-38 .wpgmp-map-2 .full-map {
        flex: 0 0 calc(100% - 72rem);
        max-width: calc(100% - 72rem);
    }
}

#post-38 .wpgmp-map-2 .wpgmp_map_parent {
    float: none;
    margin-bottom: 0;
    height: 100%;
}

#post-38 .wpgmp-map-2 .wpgmp_map_parent .wpgmp_map {
    height: 100% !important;
}

#post-38 .wpgmp-map-2 .listing-map {
    overflow-y: auto;
}

.wpgmp_listing_list .fc-item-default .wpgmp_locations {
    border: none !important;
}

.wpgmp_listing_list .fc-item-default .wpgmp_locations {
    border: none !important;
}

.wpgmp_listing_list .fc-item-default .wpgmp_locations .tour-item-infor .tour-item-title {
    // max-height: 5.1rem;
    max-height: none;
    height: auto;
    margin-bottom: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    @include transition;
}

.wpgmp_listing_list .fc-item-default .wpgmp_locations .tour-item-infor .tour-item-title:focus,
.wpgmp_listing_list .fc-item-default .wpgmp_locations .tour-item-infor .tour-item-title:hover {
    color: $black;
}

.wpgmp_listing_list .fc-item-default .wpgmp_locations .tour-item-infor .tour-item-title .place_title {
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 700;
    height: 5rem;
    margin-bottom: .5rem;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: $color-1;
    text-decoration: none;
    line-height: 2.8rem;
}

.wpgmp_listing_container .tour-item-infor {
    //padding: 1rem 1.5rem;
    padding: 1.5rem 0 1rem;
}

.wpgmp_listing_container .tour-item-infor .place_title {
    display: none;
}

@include mediamaxwidth(600px) {
    .wpgmp_listing_container .tour-item-infor {
        margin-top: 0;
    }
}

.wpgmp_listing_container .tour-item-infor .address-link {
    margin-bottom: 1rem;
    height: auto;
}

.wpgmp_listing_container .more-info-div {
    margin-bottom: 1rem;
    display: flex;
    display: -webkit-flex;
    margin-right: 15px;
}

body .fc-item-default.fc-wait .wpgmp_locations img {
    margin-right: 0 !important;
    width: 100% !important;
}

body .wpgmp_listing_list .fc-item-default .wpgmp_locations {
    padding: 10px 5px 10px 20px!important;
    margin-bottom: 0 !important;
    @include mediamaxwidth(992px) {
        padding: 15px!important;
    }
}

@media (min-width: 768px) {
    .wpgmp_listing_container .tour-item:before {
        display: none;
    }
    .wpgmp_listing_container .tour-item-infor .tour-item-actions a.btn-tour i {
        font-weight: 900;
    }
}

.wpgmp_listing_container .tour-item-infor .tour-item-actions .js-item-mylist+div {
    //width: 100%;
    width: 50%;
    @include media(768px) {
        width: 50%;
    }
}

.wpgmp_listing_container .tour-item-infor .tour-item-actions .js-item-mylist+div a {
    width: 100%;
    text-align: left;
}

.listing-map .wpgmp_pagination {
    padding: 0;
    margin: 0;
}

.card-tour-description {
    background: #EAEAEA;
    border: none;
    padding: 1rem 1.5rem 1.5rem;
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: $black;
    p {
        margin-bottom: 0.6rem;
    }
}

.col-position-bottom {
    @include media(768px) {
        position: absolute;
        bottom: 1.5rem;
        right: 0;
        width: 50%;
        padding-left: 0;
    }
}

.more-info {
    background: none;
    border: none;
    padding: 0;
    color: $color-1;
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: underline;
    }
    &[aria-expanded="false"] {
        .close-des {
            display: none !important;
        }
    }
    &[aria-expanded="true"] {
        .open-des {
            display: none !important;
        }
        .close-des {
            display: block !important;
        }
    }
}

.wpgmp_infowindow.fc-item-aare div .tour-item {
    margin-bottom: 0;
}

.wpgmp_infowindow.fc-item-aare div .col-tour-item-infor {
    padding: 1rem 1.5rem 1.5rem;
    background: #fff;
}

.wpgmp_infowindow.fc-item-aare div .col-tour-item-infor .tour-item-title {
    color: #000;
    margin-bottom: 1.3rem;
    height: auto;
}

.wpgmp_infowindow.fc-item-aare div .col-tour-item-infor .tour-item-actions {
    margin-top: 5rem;
    display: flex;
    display: -webkit-flex;
}

.button-toggle {
    display: block;
    @include media(992px) {
        display: none;
    }
}

#general-search.collapse {
    @include media(992px) {
        display: block !important;
    }
}

.button-toggle {
    border: none;
    background: $color-1;
    color: #fff;
    font-weight: 600;
    padding: 0.5rem 1rem;
    width: 100%;
    text-align: left;
    @include mediamaxwidth(374px) {
        font-size: 1.3rem;
    }
}

.button-toggle i {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.button-toggle[aria-expanded="false"] .fa-minus {
    display: none
}

.button-toggle[aria-expanded="true"] .fa-minus {
    display: inline-block;
}

.button-toggle[aria-expanded="true"] .fa-plus {
    display: none;
}

.button-toggle {
    border: none;
    background: $color-1;
    color: #fff;
    padding: 1rem;
    width: 100%;
    text-align: left;
}

.button-toggle i {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.button-toggle[aria-expanded="false"] .fa-minus {
    display: none
}

.button-toggle[aria-expanded="true"] .fa-minus {
    display: inline-block;
}

.button-toggle[aria-expanded="true"] .fa-plus {
    display: none;
}

@media (max-width:992px) {
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers {
        flex-direction: column;
        background: #EEEEEE;
        color: #000;
        padding: 1.5rem 1.5rem 3rem;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .categories_filter {
        padding-right: 0;
        width: 100%;
        margin-bottom: 1rem;
        background: transparent;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .categories_filter:before {
        left: 2rem;
        color: #000;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .categories_filter select,
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .regions_filter select {
        max-width: none;
        background: url(images/chevron-down-solid-black.svg) #fff;
        width: 100%;
        color: #000;
        background-position: right center;
        background-repeat: no-repeat;
        -webkit-background-size: 1.5rem 1.5rem;
        background-position: right 15px center;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .regions_filter {
        width: 100%;
        margin-bottom: 1rem;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .regions_filter:before {
        color: #000;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .regions_filter {
        background: transparent;
        padding: 0 0 0 14rem;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header {
        position: relative;
        padding: 0 0rem 0 14rem;
        width: 100%;
        background: transparent;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header:before {
        content: "Search";
        position: absolute;
        font-size: 1.8rem;
        font-weight: 700;
        left: 2rem;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form input {
        width: 100%;
        background: #fff;
        color: #000;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form input::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #777777;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #777777;
        opacity: 1;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #777777;
        opacity: 1;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form input:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #777777;
    }
    #post-38 .wpgmp-map-2 .listing-map {
        order: 1;
    }
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form:after {
    display: none;
}

.apply-filters {
    position: relative;
    background: #000;
    color: #fff;
    width: 100%;
    height: 4.1rem;
}

.apply-filters i {
    display: none;
}

.apply-filters span {
    display: block;
}

@media(min-width:992px) {
    .apply-filters span {
        display: none;
    }
    .apply-filters i {
        display: block;
        color: #fff;
        font-size: 2rem;
    }
    .apply-filters {
        position: absolute;
        right: 1rem;
        top: 0.8rem;
        background: transparent;
        border: none;
        color: #fff;
        box-shadow: none;
        width: auto;
        height: auto;
    }
}

@media(max-width:768px) {
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form input {
        margin-bottom: 1rem;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header {
        margin-bottom: 4rem;
    }
}

@media(max-width:768px) {
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .categories_filter:before,
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .regions_filter:before,
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header:before {
        display: none;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .categories_filter,
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .regions_filter,
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header {
        padding: 0
    }
}

.tour-list,
.wpgmp_listing_container {
    .carousel-control-prev,
    .carousel-control-next {
        opacity: 1;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 2.1rem;
        height: 1.9rem;
    }
    .carousel-control-prev-icon {
        background-image: url(images/arrow-left-small.png);
    }
    .carousel-control-next-icon {
        background-image: url(images/arrow-right-small.png);
    }
}

.tour-item-actions .fa-spinner {
    font-weight: 900 !important;
    color: $color-1;
}

// .collapseTour-item.collapse {
//     height: unset;
// }
.wpgmp_listing_container .wpgmp_locations .tour-item {
    margin-bottom: 0;
    .row {
        position: relative;
        .row {
            position: static;
        }
    }
    .col-md-6 {
        height: 100%;
        position: static;
    }
}

.wpgmp_listing_container .tour-item-infor .tour-item-actions {
    margin-right: 15px;
    display: flex;
    display: -webkit-flex;
}

.wpgmp_locations {
    .tour-item-infor {
        .more-info {
            width: 50%;
            margin-right: 1rem;
            text-align: left;
            @include media(992px) {
                width: calc(50% - 0.5rem);
            }
            .close-des {
                display: none;
            }
            &.active {
                .open-des {
                    display: none;
                }
                .close-des {
                    display: block;
                }
            }
            .open-des,
            .close-des {
                background-color: $color-1;
                color: #fff;
                text-transform: uppercase;
                font-size: 1.2rem;
                padding: .5rem 1rem;
            }
            .open-des-pc {
                display: none;
                @include media(992px) {
                    display: block;
                }
            }
            .open-des-mb {
                display: block;
                @include media(992px) {
                    display: none;
                }
            }
        }
    }
    .mobi-show-on-map {
        border: none;
        background-color: $color-1;
        color: #fff;
        font-size: 1.2rem;
        width: 50%;
        display: block;
        @include media(992px) {
            display: none;
        }
    }
}

.wpgmp_locations .tour-item .collapseTour-item {
    display: none;
}

.wpgmp_infowindow {
    .tour-item-infor {
        padding: 0;
        .tour-item-actions {
            .btn-tour {
                background: #eaeaea;
                font-size: 1.1rem;
                color: $black;
                padding: .5rem .2rem;
                width: 50%;
                border: none;
                height: 3.2rem;
                text-align: left;
                @include media(768px) {
                    font-size: 1.2rem;
                }
            }
            .mylist-btn-fake {
                &button.btn-tour {
                    border: none;
                    background: #eaeaea;
                }
                &:hover,
                &:focus {
                    color: $color-1;
                }
                i {
                    color: $color-1;
                    margin-right: .1rem;
                    font-size: 1.4rem;
                    vertical-align: -1px;
                    @include media(768px) {
                        font-size: 1.6rem;
                        margin-right: .5rem;
                    }
                }
                &.add-tour {
                    .add-text {
                        display: block;
                    }
                    .delete-text {
                        display: none;
                    }
                }
                &.delete-tour {
                    .delete-text {
                        display: block;
                    }
                    .add-text {
                        display: none;
                    }
                }
            }
        }
    }
}

.map-loader {
    position: fixed;
    background: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    align-items: center;
    justify-content: center;
    display: none;
}

.map-loader.active {
    display: flex;
    display: -webkit-flex;
}

.no-results {
    max-width: $container-width-lg;
    padding: 2rem $container-lateral-padding 10rem;
    margin: 0 auto;
    @include media(1440px) {
        max-width: $container-width;
    }
    h2 {
        font-size: 3rem;
        color: $body-text;
        @include media(1200px) {
            font-size: 3.5rem;
        }
    }
    .no-result-link {
        text-decoration: underline;
        &:hover,
        &:focus {
            text-decoration: none;
            color: $color-1;
        }
    }
}

.btn-scroll-to-more-info {
    background-color: $color-1;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    padding: 0.5rem;
    width: 100%;
    margin-top: 1rem;
    display: block;
    @include media(992px) {
        display: none;
    }
}

body .infowindow-close {
    background-image: url(images/icon-close.png) !important;
    background-size: 100% 100%;
    width: 12px;
    height: 12px;
    top: 6px;
    right: 5px;
}

// Empty
.tour-empty {
    padding: 5rem 0;
}

.text-empty {
    font-size: 2.2rem;
    line-height: 2.8rem;
    color: $color-1;
    font-weight: 700;
}

.header-tour-empty {
    background-color: $color-1;
    height: 4.1rem;
    position: relative;
    margin-top: 0.6rem;
    @include media(1200px) {
        margin-top: 0;
    }
    @include media(768px) {
        &:after {
            content: "";
            top: 0;
            right: 0;
            bottom: 0;
            width: 50%;
            position: absolute;
            background-color: $color-5;
        }
    }
    .page-title-empty {
        font-size: 2.2rem;
        line-height: 2.8rem;
        color: #fff;
        margin: 0;
        padding-top: 0.5rem;
    }
}

.short-description {
    max-height: 6.3rem;
    overflow: hidden;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    padding-right: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
    @include media(768px) {
        margin-bottom: 0;
    }
}

.tour-item-infor .tour-item-actions {
    margin-top: 1rem;
}