#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers {
    padding: 0;
    background: transparent;
    float: none;
    border-radius: 0;
    display: flex;
    display: -webkit-flex;
    margin-bottom: 0;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_before_listing {
    display: none;
    width: 0;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header {
    float: none;
    order: 1;
    background: #777777;
    width: 20%;
    height: 4.1rem;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form {
    float: none;
    margin-top: 0;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form input {
    background: #777777;
    border-bottom: none;
    color: #fff;
    border: none;
    padding: 0 5rem 0 2rem;
    height: 4.1rem;
    font-size: 1.8rem;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form:after {
    content: "\f002";
    height: auto;
    width: auto;
    background: transparent;
    position: absolute;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    //font-family: "Font Awesome 5 Pro";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #fff;
    font-size: 2.3rem;
    pointer-events: none;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #fff;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #fff;
    opacity: 1;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #fff;
    opacity: 1;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #fff;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .categories_filter {
    background: #ee3897;
    float: none;
    width: 50%;
    height: 4.1rem;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .regions_filter {
    background: #777777;
    width: 30%;
    height: 4.1rem;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .categories_filter select {
    float: none;
    background: url(images/chevron-down-solid.svg) rgba(255, 255, 255, 0.4);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: right 15px center;
    max-width: 33rem;
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    height: 4.1rem;
    padding: 0 2rem;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .categories_filter {
    position: relative;
    padding: 0 3rem 0 14rem;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .categories_filter:before {
    content: "Category";
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    position: absolute;
    left: 3rem;
    top: 0.6rem;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .categories_filter select option {
    color: #000;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .regions_filter {
    position: relative;
    padding: 0 0 0 11rem;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .regions_filter:before {
    content: "Region";
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    position: absolute;
    left: 2rem;
    top: 0.6rem;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .regions_filter select {
    height: 4.1rem;
    background: url(images/chevron-down-solid.svg) rgba(255, 255, 255, 0.4);
    background-position: right center;
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 1.5rem;
    border: none;
    color: #fff;
    width: 100%;
    padding: 0 2rem;
    font-weight: 500;
    font-size: 1.8rem;
    appearance: none;
    -webkit-appearance: none;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .regions_filter select option {
    color: #000;
}

#post-38 figure.wp-block-table {
    overflow-x: hidden;
}

@media (min-width:1920px) {
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .categories_filter,
    #post-38 .wpgmp-map-2 .listing-map {
        max-width: 72rem;
        flex: 0 0 72rem;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .regions_filter {
        max-width: 55rem;
        flex: 0 0 55rem;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header {
        width: 100%;
    }
    #post-38 .wpgmp-map-2 .full-map {
        flex: 0 0 calc(100% - 72rem);
        max-width: calc(100% - 72rem);
    }
}

#post-38 .wpgmp-map-2 .wpgmp_map_parent {
    float: none;
    margin-bottom: 0;
    height: 100%;
}

#post-38 .wpgmp-map-2 .wpgmp_map_parent .wpgmp_map {
    height: 100% !important;
}

#post-38 .wpgmp-map-2 .listing-map {
    overflow-y: auto;
}

.wpgmp_listing_list .fc-item-default .wpgmp_locations {
    border: none !important;
}

.wpgmp_listing_list .fc-item-default .wpgmp_locations {
    border: none !important;
}

.tour-item-cate {
    font-size: 1.5rem !important;
    padding: 1rem !important;
}

.wpgmp_listing_list .fc-item-default .wpgmp_locations .tour-item-infor .tour-item-title {
    height: 5rem;
    text-transform: uppercase;
}

.wpgmp_listing_container .tour-item-infor {
    padding: 1rem 1.5rem;
}

.wpgmp_listing_container .tour-item-infor .address-link {
    margin-bottom: 1rem;
    height: auto;
}

.wpgmp_listing_container .more-info-div {
    margin-bottom: 2rem;
}

body .fc-item-default.fc-wait .wpgmp_locations img {
    margin-right: 0 !important;
    width: 100% !important;
}

body .wpgmp_listing_list .fc-item-default .wpgmp_locations {
    padding: 10px 0 15px 15px!important;
    margin-bottom: 0 !important
}

@media (min-width: 768px) {
    .wpgmp_listing_container .tour-item:before {
        display: none;
    }
    .wpgmp_listing_container .tour-item-infor .tour-item-actions a.btn-tour i {
        font-weight: 900;
    }
}