#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers {
    padding: 0;
    background: transparent;
    float: none;
    border-radius: 0;
    display: flex;
    display: -webkit-flex;
    margin-bottom: 0;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_before_listing {
    display: none;
    width: 0;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header {
    float: none;
    order: 1;
    background: #777777;
    width: 20%;
    height: 4.1rem;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form {
    float: none;
    margin-top: 0;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form input {
    background: #777777;
    border-bottom: none;
    color: #fff;
    border: none;
    padding: 0 5rem 0 2rem;
    height: 4.1rem;
    font-size: 1.8rem;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form:after {
    display: none;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #fff;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #fff;
    opacity: 1;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #fff;
    opacity: 1;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #fff;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .categories_filter {
    background: #ee3897;
    float: none;
    width: 50%;
    height: 4.1rem;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .regions_filter {
    background: #777777;
    width: 30%;
    height: 4.1rem;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .categories_filter select {
    float: none;
    background: url(images/chevron-down-solid.svg) rgba(255, 255, 255, 0.4);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: right 15px center;
    max-width: 33rem;
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    height: 4.1rem;
    padding: 0 2rem;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .categories_filter {
    position: relative;
    padding: 0 3rem 0 14rem;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .categories_filter:before {
    content: "Category";
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    position: absolute;
    left: 3rem;
    top: 0.6rem;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .categories_filter select option {
    color: #000;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .regions_filter {
    position: relative;
    padding: 0 0 0 11rem;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .regions_filter:before {
    content: "Region";
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    position: absolute;
    left: 2rem;
    top: 0.6rem;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .regions_filter select {
    height: 4.1rem;
    background: url(images/chevron-down-solid.svg) rgba(255, 255, 255, 0.4);
    background-position: right center;
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 1.5rem;
    border: none;
    color: #fff;
    width: 100%;
    padding: 0 2rem;
    font-weight: 500;
    font-size: 1.8rem;
    appearance: none;
    -webkit-appearance: none;
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .regions_filter select option {
    color: #000;
}

#post-38 figure.wp-block-table {
    overflow-x: hidden;
}

@media (min-width:1920px) {
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .categories_filter,
    #post-38 .wpgmp-map-2 .listing-map {
        max-width: 72rem;
        flex: 0 0 72rem;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .regions_filter {
        max-width: 55rem;
        flex: 0 0 55rem;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header {
        width: 100%;
    }
    #post-38 .wpgmp-map-2 .full-map {
        flex: 0 0 calc(100% - 72rem);
        max-width: calc(100% - 72rem);
    }
}

#post-38 .wpgmp-map-2 .wpgmp_map_parent {
    float: none;
    margin-bottom: 0;
    height: 100%;
}

#post-38 .wpgmp-map-2 .wpgmp_map_parent .wpgmp_map {
    height: 100% !important;
}

#post-38 .wpgmp-map-2 .listing-map {
    overflow-y: auto;
}

.wpgmp_listing_list .fc-item-default .wpgmp_locations {
    border: none !important;
}

.wpgmp_listing_list .fc-item-default .wpgmp_locations {
    border: none !important;
}

.tour-item-cate {
    font-size: 1.5rem !important;
    padding: 1rem !important;
}

.wpgmp_listing_list .fc-item-default .wpgmp_locations .tour-item-infor .tour-item-title {
    height: 5.1rem;
    text-transform: uppercase;
}

.wpgmp_listing_list .fc-item-default .wpgmp_locations .tour-item-infor .tour-item-title .place_title {
    font-size: 1.8rem;
    font-weight: 700;
    height: 5rem;
    margin-bottom: .5rem;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: $color-1;
    text-decoration: none;
    line-height: 2.8rem;
}

.wpgmp_listing_container .tour-item-infor {
    padding: 1rem 1.5rem;
}

.wpgmp_listing_container .tour-item-infor .place_title {
    display: none;
}

@include mediamaxwidth(600px) {
    .wpgmp_listing_container .tour-item-infor {
        margin-top: 0;
    }
}

.wpgmp_listing_container .tour-item-infor .address-link {
    margin-bottom: 1rem;
    height: auto;
}

.wpgmp_listing_container .more-info-div {
    margin-bottom: 2rem;
}

body .fc-item-default.fc-wait .wpgmp_locations img {
    margin-right: 0 !important;
    width: 100% !important;
}

body .wpgmp_listing_list .fc-item-default .wpgmp_locations {
    padding: 10px 0 15px 15px!important;
    margin-bottom: 0 !important;
    @include mediamaxwidth(991px) {
        body .wpgmp_listing_list .fc-item-default .wpgmp_locations {
            padding: 15px 15px 15px 15px!important;
            margin-bottom: 0 !important
        }
    }
}

@media (min-width: 768px) {
    .wpgmp_listing_container .tour-item:before {
        display: none;
    }
    .wpgmp_listing_container .tour-item-infor .tour-item-actions a.btn-tour i {
        font-weight: 900;
    }
}

.wpgmp_listing_container .tour-item-infor .tour-item-actions .js-item-mylist+div {
    width: 100%;
    @include media(768px) {
        width: 50%;
    }
}

.wpgmp_listing_container .tour-item-infor .tour-item-actions .js-item-mylist+div a {
    width: 100%;
    text-align: left;
}

.listing-map .wpgmp_pagination {
    padding: 0;
    margin: 0;
}

.card-body.card-tour-description {
    background: #EAEAEA;
    border: none;
    padding: 1.5rem;
    font-size: 16px;
    color: #1A1A1A;
}

.more-info {
    &[aria-expanded="false"] {
        .close-des {
            display: none;
        }
    }
    &[aria-expanded="true"] {
        .open-des {
            display: none;
        }
        .close-des {
            display: block;
        }
    }
}

.wpgmp_infowindow.fc-item-aare div .tour-item {
    margin-bottom: 0;
}

.wpgmp_infowindow.fc-item-aare div .col-tour-item-infor {
    padding: 1.5rem;
    background: #fff;
}

.wpgmp_infowindow.fc-item-aare div .col-tour-item-infor .tour-item-title {
    color: #000;
    margin-bottom: 1rem;
}

.wpgmp_infowindow.fc-item-aare div .col-tour-item-infor .tour-item-actions {
    margin-top: 2rem;
}

.button-toggle {
    display: block;
    @include media(992px) {
        display: none;
    }
}

#general-search.collapse {
    @include media(992px) {
        display: block !important;
    }
}

.button-toggle {
    border: none;
    background: #ee3897;
    color: #fff;
    font-weight: 600;
    padding: 0.5rem 1rem;
    width: 100%;
    text-align: left;
    @include mediamaxwidth(374px) {
        font-size: 1.3rem;
    }
}

.button-toggle i {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.button-toggle[aria-expanded="false"] .fa-minus {
    display: none
}

.button-toggle[aria-expanded="true"] .fa-minus {
    display: inline-block;
}

.button-toggle[aria-expanded="true"] .fa-plus {
    display: none;
}

.button-toggle {
    border: none;
    background: #ee3897;
    color: #fff;
    padding: 1rem;
    width: 100%;
    text-align: left;
}

.button-toggle i {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.button-toggle[aria-expanded="false"] .fa-minus {
    display: none
}

.button-toggle[aria-expanded="true"] .fa-minus {
    display: inline-block;
}

.button-toggle[aria-expanded="true"] .fa-plus {
    display: none;
}

@media (max-width:992px) {
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers {
        flex-direction: column;
        background: #EEEEEE;
        color: #000;
        padding: 1.5rem 1.5rem 3rem;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .categories_filter {
        padding-right: 0;
        width: 100%;
        margin-bottom: 1rem;
        background: transparent;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .categories_filter:before {
        left: 2rem;
        color: #000;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .categories_filter select,
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .regions_filter select {
        max-width: none;
        background: url(images/chevron-down-solid-black.svg) #fff;
        width: 100%;
        color: #000;
        background-position: right center;
        background-repeat: no-repeat;
        -webkit-background-size: 1.5rem 1.5rem;
        background-position: right 15px center;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .regions_filter {
        width: 100%;
        margin-bottom: 1rem;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .regions_filter:before {
        color: #000;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .regions_filter {
        background: transparent;
        padding: 0 0 0 14rem;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header {
        position: relative;
        padding: 0 0rem 0 14rem;
        width: 100%;
        background: transparent;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header:before {
        content: "Search";
        position: absolute;
        font-size: 1.8rem;
        font-weight: 700;
        left: 2rem;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form input {
        width: 100%;
        background: #fff;
        color: #000;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form input::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #777777;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #777777;
        opacity: 1;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #777777;
        opacity: 1;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form input:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #777777;
    }
    #post-38 .wpgmp-map-2 .listing-map {
        order: 1;
    }
}

#post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form:after {
    display: none;
}

.apply-filters {
    position: relative;
    background: #000;
    color: #fff;
    width: 100%;
    height: 4.1rem;
}

.apply-filters i {
    display: none;
}

.apply-filters span {
    display: block;
}

@media(min-width:992px) {
    .apply-filters span {
        display: none;
    }
    .apply-filters i {
        display: block;
        color: #fff;
        font-size: 2rem;
    }
    .apply-filters {
        position: absolute;
        right: 1rem;
        top: 0.8rem;
        background: transparent;
        border: none;
        color: #fff;
        box-shadow: none;
    }
}

@media(max-width:768px) {
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header div.wpgmp_search_form input {
        margin-bottom: 1rem;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header {
        margin-bottom: 4rem;
    }
}

@media(max-width:768px) {
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .categories_filter:before,
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .regions_filter:before,
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header:before {
        display: none;
    }
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .categories_filter,
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .regions_filter,
    #post-38 .wpgmp-map-2 .wpgmp_filter_wrappers .wpgmp_listing_header {
        padding: 0
    }
}