.accordion-blocks {
    padding: 4.2rem 0 4rem;
    .title-section {
        margin-bottom: 3rem;
    }
    .accordion {
        margin-bottom: 4rem;
    }
    .collapsible-container {
        margin-bottom: 5rem;
    }
    .accordion>.card:not(:first-of-type) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .collapsible {
        background: transparent;
        border: none;
        padding: 0;
        margin-bottom: 2rem;
        .collapse-body-wrapper {
            border-bottom: 2px solid $color-5;
            padding-bottom: 3rem;
            @include media(768px) {
                border-bottom: none;
                padding-bottom: 0;
            }
        }
        .collapse-body {
            margin-bottom: 0;
            padding: 1rem 3rem;
            color: #fff;
            font-size: 1.5rem;
            line-height: 2.4rem;
            @include media(768px) {
                border-bottom: 2px solid $color-5;
            }
            a {
                color: $color-1;
                text-decoration: none;
                &:hover,
                &:focus {
                    text-decoration: underline;
                }
            }
            @include media(768px) {
                padding: 2rem 5rem 3rem;
            }
        }
        .collapse-image {
            margin-top: 1rem;
            @include media(768px) {
                margin-top: 0;
            }
            img {
                height: auto;
            }
        }
        .card-header {
            padding: 0;
            margin: 0;
            background-color: transparent;
            border-radius: 0;
            border-bottom: none;
            .collapse-header {
                margin: 0;
                cursor: pointer;
                button {
                    cursor: pointer;
                    @extend .title-item;
                    display: flex;
                    align-items: center;
                    position: relative;
                    background: 0 0;
                    border: 0;
                    padding: 0 2rem 0.2rem 0;
                    margin: 0;
                    width: 100%;
                    text-align: left;
                    &:focus {
                        box-shadow: none;
                        outline: none;
                    }
                    &:hover {
                        .fas {
                            color: $color-1;
                        }
                    }
                    .fas {
                        position: absolute;
                        right: 0;
                        top: 0.3rem;
                        font-size: 1.6rem;
                        color: $color-5;
                        @include transition;
                        @include media(768px) {
                            font-size: 1.8rem;
                            top: 1.5rem;
                        }
                    }
                    &[aria-expanded="true"] {
                        color: $color-1;
                        .fas {
                            color: $color-1;
                        }
                    }
                }
            }
        }
    }
}