.carousel {
    li {
        margin-bottom: 0
    }
    .site-width {
        position: relative;
    }
    .carousel-inner {
        @include ulReset;
    }
    .slide-img {
        position: relative;
        height: 23rem;
        overflow: hidden;
        @include media(768px) {
            height: 40rem;
            margin-bottom: 0;
        }
        @include media(1200px) {
            height: 50rem;
        }
        @include media(1440px) {
            height: 60rem;
        }
        @include media(1600px) {
            height: 70rem;
        }
        @include media(1920px) {
            height: 80rem;
        }
        img {
            object-position: center;
            object-fit: cover;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .carousel-control-next,
    .carousel-control-prev {
        //max-width: $container-lateral-padding-wide;
        opacity: 1;
        &:focus {
            outline: none;
        }
        span {
            width: 3rem;
            height: 6rem;
        }
    }
}

.carousel-blocks {
    .carousel {
        .carousel-control-next,
        .carousel-control-prev {
            width: 15%;
            @include media(768px) {
                width: 17rem;
            }
        }
    }
}