.home .primary-content-blocks {
    margin-bottom: 0;
}

.primary-content-blocks {
    padding: 3rem 0;
    color: #fff;
    h1 {
        color: $color-1;
        margin-bottom: 2.3rem;
    }
    a {
        text-decoration: underline;
    }
    &.media-text-blocks {
        padding: 1.2rem 0 3rem;
        .sidebar-image {
            margin-bottom: 2rem;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    .primary-content {
        .logos {
            margin-bottom: 3rem;
            img {
                max-width: 67.2rem;
                width: 100%;
            }
        }
        .row {
            flex-wrap: wrap;
        }
        .creative-south-logo {
            margin-bottom: 2rem;
            flex: 0 0 20rem;
            margin-bottom: 0;
            @include media(768px) {
                flex: 0 0 30rem;
            }
        }
        .cultural-logo {
            margin-bottom: 3rem;
            flex: 1;
            padding-left: 0;
            img {
                max-width: 15rem;
                @include media(768px) {
                    max-width: 24rem;
                }
            }
        }
        .primary-content-content {
            padding-left: 0;
            margin-bottom: 3rem;
            margin-left: 0;
            @include media(1200px) {
                margin-left: calc(36rem - 15px);
            }
            b,
            strong {
                color: $color-1;
            }
        }
    }
}

.second-navigation {
    ul {
        @include ulReset;
        &.row {
            margin-right: -10px;
            margin-left: -10px;
        }
        li {
            margin-bottom: 30px;
            padding-right: 10px;
            padding-left: 10px;
            a {
                font-size: 2.4rem;
                line-height: 2.8rem;
                font-weight: 800;
                color: #fff;
                text-decoration: none;
                padding: 1.5rem 3rem 1.5rem 1.5rem;
                min-height: 15.5rem;
                height: 100%;
                display: flex;
                display: -webkit-flex;
                align-items: center;
                @include transition;
                &:hover {
                    transform: scale(1.05);
                    transform: -webkit-scale(1.05);
                }
            }
            &:first-child {
                a {
                    background-color: $pink-2;
                    // &:hover,
                    // &:focus {
                    //     background-color: rgba($pink-2, 0.8);
                    // }
                }
            }
            &:nth-child(2) {
                a {
                    background-color: $pink-3;
                    // &:hover,
                    // &:focus {
                    //     background-color: rgba($pink-3, 0.8);
                    // }
                }
            }
            &:nth-child(3) {
                a {
                    background-color: $pink-4;
                    // &:hover,
                    // &:focus {
                    //     background-color: rgba($pink-4, 0.8);
                    // }
                }
            }
            &:last-child {
                a {
                    background-color: $color-1;
                    // &:hover,
                    // &:focus {
                    //     background-color: rgba($color-1, 0.8);
                    // }
                }
            }
        }
    }
}