.southern-stories-blocks {
    padding: 4rem 0 10rem;
    .title-section {
        margin-bottom: 1rem;
    }
    .subtitle {
        margin-bottom: 2rem;
    }
    .southern-stories-images {
        ul {
            @include ulReset;
            @include media(768px) {
                padding-left: 3rem;
            }
            li {
                margin-right: 2rem;
                @include media(768px) {
                    margin-right: 3rem;
                }
                img {
                    max-width: 40rem;
                    width: 100%;
                    height: auto;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}