.site-header {
    border-bottom: 1px solid #f9f9f9;
    @include media(768px) {
        border-bottom: none;
    }
    .custom-fixed-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 98;
        &.fixed {
            background: #000;
            position: fixed;
        }
        &.no-fixed {
            background: #000;
        }
    }
    .in_header {
        display: flex;
        display: -webkit-flex;
        flex-wrap: nowrap;
        align-items: center;
        padding: 0 0 2.117rem;
        .site-logo {
            max-width: 14rem;
            flex: 0 0 16rem;
            margin-left: 2rem;
            z-index: 999;
            @include media(375px) {
                max-width: 16rem;
                flex: 0 0 16rem;
            }
            @include media(1200px) {
                max-width: 24rem;
                flex: 0 0 24rem;
            }
            @include media(1400px) {
                max-width: 28rem;
                flex: 0 0 28rem;
            }
            h1 {
                margin-bottom: 0;
            }
        }
        .button {
            min-width: auto;
        }
    }
    .action-right {
        a {
            margin-right: 1.5rem;
        }
    }
    .header-right {
        flex: 1;
        justify-content: flex-end;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin-right: 0;
        @include media(768px) {
            //margin-right: 5.9rem;
            margin-right: 0;
        }
        ul {
            padding: 0;
            @include ulReset;
            li {
                margin: 0;
                &:last-child {
                    padding-right: 0;
                }
                @include media(1200px) {
                    padding: 0 1.2rem;
                    margin: 0;
                }
                @include media(1400px) {
                    padding: 0 1.5rem;
                }
            }
        }
        .btn-search {
            background: none;
            border: none;
        }
    }
}

.desktop-icon {
    display: none;
    @include media(1200px) {
        display: inline-block;
    }
}

.mobile-icon {
    display: inline-block;
    @include media(1200px) {
        display: none;
    }
}

#wellcomeModal {
    background-image: url(images/welcome.png);
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 99;
}

.modalcustom {
    .welcome-modal-content {
        text-align: center;
        p {
            font-size: 2.2rem;
            color: $color-1;
            font-weight: 700;
            line-height: 3.4rem;
            @include media(768px) {
                font-size: 2.6rem;
            }
            @include media(1200px) {
                font-size: 3rem;
                line-height: 3.6rem;
            }
        }
    }
    .modal-content {
        background: transparent;
        border: none;
    }
}

button.close {
    position: absolute;
    top: 0;
    right: 0;
    width: 4rem;
    height: 4rem;
    background: $color-1;
    opacity: 1;
    i {
        color: #fff;
        font-size: 2.6rem;
    }
}

.the-header.active {
    height: 6.7rem;
    @include media(375px) {
        height: 7.31
    }
    @include media(1200px) {
        height: 10rem;
    }
    @include media(1400px) {
        height: 11.24rem;
    }
}